/* 
Por padrão um GRID tem 12 colunas, aqui iremos definir os tamanhos de colunas de acordo com a 
resolução da tela. 
Como o tamanho máximo é 100% e a qtde das colunas = 12,
o tamanho de cada coluna é (100px / 12) = 8,33 px
*/

/* 
Padronizar seletor de classe que começa com o nome 'col-'
Nesse exemplo ele adicionara no seletor de classe o código abaixo além do código
existente no próprio seletor
 */
[class*="col-"] {
    border: 1px solid black;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}



/* 
Estrutura condicional (MEDIA QUERIE) para definir o tamanho das colunas para resoluções pequenas até 600px
*/
@media screen and (max-width:600px) {
    .col-p-1 {
        width: 8.33%;
    }

    .col-p-2 {
        width: 16.66%;
    }

    .col-p-3 {
        width: 25%;
    }

    .col-p-4 {
        width: 33.33%;
    }

    .col-p-5 {
        width: 41.66%;
    }

    .col-p-6 {
        width: 50%;
    }

    .col-p-7 {
        width: 58.33%;
    }

    .col-p-8 {
        width: 66.66%;
    }

    .col-p-9 {
        width: 75%;
    }

    .col-p-10 {
        width: 83.33%;
    }

    .col-p-11 {
        width: 91.66%;
    }

    .col-p-12 {
        width: 100%;
    }
}



/* 
Estrutura condicional (MEDIA QUERIE) para definir o tamanho das colunas para resoluções médias até 600px
*/
@media screen and (min-width:601px) and (max-width:900px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}


/* 
Estrutura condicional (MEDIA QUERIE)  para definir o tamanho das colunas para resoluções Grandes após 901px
*/
@media screen and (min-width:901px) {
    .col-g-1 {
        width: 8.33%;
    }

    .col-g-2 {
        width: 16.66%;
    }

    .col-g-3 {
        width: 25%;
    }

    .col-g-4 {
        width: 33.33%;
    }

    .col-g-5 {
        width: 41.66%;
    }

    .col-g-6 {
        width: 50%;
    }

    .col-g-7 {
        width: 58.33%;
    }

    .col-g-8 {
        width: 66.66%;
    }

    .col-g-9 {
        width: 75%;
    }

    .col-g-10 {
        width: 83.33%;
    }

    .col-g-11 {
        width: 91.66%;
    }

    .col-g-12 {
        width: 100%;
    }
}