/* Estilização Global - Seletor Global */
* {
    /* margin=(da borda para fora, espaço externo) Remove a margem automatica do HTML geral poisestá no seletor geral */
    margin: 0;

    /* padding=(da borda para dentro, espaço interno) */
    padding: 0;

    /* Padroniza a fonte para o HTML */
    font: 14px arial;
}


/* TOPO da página */
header {
    background-color: rgb(180, 182, 182);

    /*Dentro de sse header temos 2 coisas flutuando: imagem e o nav, dessa forma, o background sumirá 
    pois como os elementos estão flutuando ele não saberá o tamanho/altura. Para corrigir isso usaremos o overflow; */
    overflow: auto;
}

header img {
    /* faz a imagem do header flutuar a esquerda. */
    float: left;

    /* margin=(da borda para fora, espaço externo) */
    margin: 15px;
}

header nav {
    /* faz o menu NAV flutuar a direita */
    float: right;
}

header a {
    /* Cor dos elementos com tag A do NAV (menu) */
    color: aliceblue;

    /* Como a tag a é link ela é sublinhada, para retirar usamos o comando abaixo */
    text-decoration: none;

    /* Por default a tag A tem o display inline, dessa forma o margin-top não funcionará. 
    Para contornar isso usaremos o display inline block e chamaremos o margin-top */
    display: inline-block;

    margin-right: 15px;
    margin-top: 25px;

}

/* Pseudo classe */
header a:hover {
    /* hover: ação que ocorrerá ao passar o mouse em cima do link com a tag A no header.
    Nesse caso ele adicionará sublinhado ao passar o mouse */
    text-decoration: underline;
    /* cor ao passar o mouse */
    color: blue;
}

/* Estilização Sessão viagens */
.viagens {
    background-color: rgb(240, 241, 236);

    /* Definindo a largura */
    width: 1200px;

    /* Centralizando na Horizontal */
    margin: 0 auto;
}

/* Esse seletor aponta para a tag LI da classe CSS Acima */
.viagens li {
    /* O seletor padrão do tag LI é o display block, dessa forma temos 1 elemento por linha. 
    Abaixo iremos sobrescrever o display para que os elementos fiquem ao lado na mesma linha. */
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}


/* Estilização da sessão sobre */
.sobre {

    /* Tamanho */
    width: 1200px;

    /* centralizar elementos */
    margin: 80px auto;

    /* Eusando o overflow pois usaremos Float nessa raiz da class Sobre */
    overflow: auto;
}

.sobre img {
    float: left;
}

.sobre div {
    /* Flutuará na esquerda. Se não colocar o width ele não funciona. */
    float: right;
    width: 730px;

}

.sobre h1 {
    font-size: 70px;
}

.sobre p {
    margin-top: 10px;

    /* O texto ocupará do início ao final do componente */
    text-align: justify;

    line-height: 25px;

    /* Espaçamento parágrafo */
    text-indent: 20px;
}

/* Estilização RODAPÉ */
footer {
    background-color: black;
    padding: 20px;
}

footer p {
    font-size: 30px;
    color: aliceblue;
    text-align: center;
}